
/* Colors
    Dark grey - #5c5c5c
    Light grey - #d9d9d9
    White

	font-family: 'Epilogue', sans-serif; 
	100,200,300,400,600,800
*/

*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}

html {
	scroll-behavior: smooth;
}

/* Utility Classes */

.tall-20 {min-height:20vh;}
.tall-30 {min-height:30vh;}
.tall-40 {min-height:40vh;}
.tall-50 {min-height:50vh;}
.tall-60 {min-height:60vh;}
.tall-70 {min-height:70vh;}
.tall-80 {min-height:80vh;}
.tall-90 {min-height:90vh;}



/* Typography Utility Classes */

h1, h2, h3, h4, h5, h6 {
	font-family: 'Epilogue', sans-serif;
	word-spacing: 0.1em;
	margin-bottom:1.2rem;
	font-weight:300;
	color:black;
}

h1 {
	font-size:3.5rem;
	letter-spacing:0.2rem;
}

h3 {
	font-weight:400;
	letter-spacing:0.2rem;
}

h4 {
	font-size: 1.5rem;
	margin-bottom: 1rem;
	letter-spacing: 0.1rem;
}

h5 {
	font-size: 1.2rem;
	margin-bottom: 1rem;
	letter-spacing: 0.2rem;
}

h6 {
	font-family:'Epilogue', sans-serif; 
	word-spacing: 0.2rem;
	letter-spacing:0.1rem;
}

p, a, li {
	font-family: 'Epilogue', sans-serif; 
	word-spacing:0.1rem;
	letter-spacing:0.05rem;
	margin-bottom: 0.8rem;
	font-size: 1.1rem;
}

a {
	font-weight:200;
}

p {
	line-height:1.5rem;
	font-weight:400;
	font-size:0.9rem;
}

p:last-child {margin-bottom: 0;}

.font-xl {font-size: 4rem;}
.font-l {font-size: 3rem;}
.font-ml {font-size:2.5rem;}
.font-m {font-size: 2rem;}
.font-sm {font-size:1.5rem;}
.font-s {font-size: 1rem;}

.right {text-align:right;}
.center {text-align:center;}
.left {text-align:left;}

.subtle {
	opacity:20%;
	font-size:0.8rem;
}

.italic {font-style:italic;}
.bold {font-weight:700;}
.semi-bold {font-weight:600;}
.thin {font-weight:300;}
.x-thin {font-weight:100;}

.uppercase {text-transform:uppercase;}
.lowercase {text-transform:lowercase;}

.banner-links {
	word-spacing: 4rem;
	padding: 0.5rem;
	font-size:1.5rem;
}

ul a {
	line-height: 2rem;
	text-transform: none;
	border-bottom: none;
}

.nav{
    list-style: none;
    padding: 1;
    margin: 0;
    margin-top: 25px;
}
.nav li{
    border-right: 2px solid black;
    display: inline-block;
    padding: 0 15px;
}
.nav li:last-child {
    border-right:0;
} 

.social-icon {
	font-size: 1.2rem;
	text-transform: none;
	border-bottom: none; 
	letter-spacing: 0.8rem;
	font-weight:300;
}

.light {color:white;}
.dark {color:black;}

.highlight-light {
    background: linear-gradient(120deg, rgba(217,217,217,.3) 0%, rgba(217,217,217,.3) 100%);
	background-repeat:no-repeat;
	display:inline-block;
	padding: 0.4rem 0.4rem;
}

.highlight-dark {
    background: linear-gradient(120deg, rgba(61,61,61,.8) 0%, rgba(61,61,61,.8) 100%);
	background-repeat:no-repeat;
	display:inline-block;
	padding: 0.4rem 0.4rem;
}

a {
	color:inherit;
	text-decoration:none;
	border-bottom:1px solid black;
}

nav a {
	text-decoration:none;
	border:none;
}

.banner {
	display:flex;
	flex-direction:column;
  	justify-content:center;
  	align-items:center;
	background-image: url(/images/header-img.jpg);
    background-size:cover;
    background-position: 100% 82%;
}

.subtitle {
    font-size:1.2rem;
    color: #d9d9d9;
}

/* Padding Utility Classes */ 

.padding-sm { padding: 2.5%; }
.padding-md { padding: 5%;   }
.padding-lg { padding: 10%;  }

.padding-05 { padding: 0.5rem; }
.padding-1 { padding: 1rem; }
.padding-2 { padding: 2rem; }

.padding-t { padding-top: 5%; }
.padding-b { padding-bottom: 5%; }
.padding-l { padding-left: 5%; }
.padding-r { padding-right: 5%; }

.padding-tb { padding-top: 5%; padding-bottom: 5%; }
.padding-lr { padding-left: 5%; padding-right: 5%; }

.padding-t-1 { padding-top: 1rem; }
.padding-b-1 { padding-bottom: 1rem; }
.padding-l-1 { padding-left: 1rem; }
.padding-r-1 { padding-right: 1rem; }

.padding-t-2 { padding-top: 2rem; }
.padding-b-2 { padding-bottom: 2rem; }
.padding-l-2 { padding-left: 2rem; }
.padding-r-2 { padding-right: 2rem; }

.padding-t-0 { padding-top: 0; }
.padding-b-0 { padding-bottom: 0; }
.padding-l-0 { padding-left: 0; }
.padding-r-0 { padding-right: 0; }

/* Margin Utility Classes */ 

.margin-t { margin-top: 5%; }
.margin-b { margin-bottom: 5%; }
.margin-l { margin-left: 5%; }
.margin-r { margin-right: 5%; }

.margin-t-1 { margin-top: 1rem; }
.margin-b-1 { margin-bottom: 1rem; }
.margin-l-1 { margin-left: 1rem; }
.margin-r-1 { margin-right: 1rem; }

.margin-t-2 { margin-top: 2rem; }
.margin-b-2 { margin-bottom: 2rem; }
.margin-l-2 { margin-left: 2rem; }
.margin-r-2 { margin-right: 2rem; }

.margin-t-0 { margin-top: 0; }
.margin-b-0 { margin-bottom: 0; }
.margin-l-0 { margin-left: 0; }
.margin-r-0 { margin-right: 0; }

.margin-tb { margin-top: 5%; margin-bottom: 5%; }
.margin-lr { margin-left: 5%; margin-right: 5%; }
.margin-lr-15 {margin-left:15%; margin-right:15%;}

/* Background Classes */

.bg-light {
    background-color: white;
}

.bg-mid {
    background-color: #d9d9d9;
}

.bg-dark {
    background-color: #3d3d3d;
}

.bg-img {
    background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	min-height:50vh;
}

/* Image Classes */

.logo {
	background-image: url(/images/Logo\ -\ Large.jpg);
	background-size:cover;
	background-position:center;
}

.card-img-res {
	display:flex;
	justify-content:center;
  	align-items:center;
	background-image: url(/images/res-services-cover.jpg);
    background-size:cover;
    background-position:center;
	min-height:20vh;
}

.card-img-comm {
	display:flex;
	justify-content:center;
  	align-items:center;
	background-image: url(/images/com-services-cover.jpg);
    background-size:cover;
    background-position:center;
	min-height:20vh;
}

.card {
	padding-top:1.5rem;
	color:white;
  }
  
  .card h3 {
	font-size:2.5rem;
  }


  .quote-icon {
    font-size:6rem;
    display:inline-block;
    color:#d9d9d9;
    line-height:1;
}

.square {
	padding-bottom: 100%;
  }

.header-logo {
	height:20% !important;
	width: 20% !important;
}

.footer-logo {
	height:50% !important;
	width:50% !important;
}


header a {
	text-decoration:none;
	border-bottom:none;
}

header nav a {
	margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

footer p, footer a {
	font-size:0.7rem;
}

footer h4 {
	font-size:0.9rem;
}

footer i {
	font-size:1.1rem;
}

  footer nav a {
	display:block;
	padding: 0.25rem;
  }

/* Button Classes */

	.button,
    .button-solid,
    .button-inverted,
	.button-inverted-lbg,
	.button-inverted-white {
      text-decoration: none;
      color:white;
      border: 2px solid #5c5c5c;
	  border-radius:25px;
      padding: 1rem 2rem;
      margin-top: 1rem;
      display: inline-block;
      text-transform: uppercase;
      font-size: 0.9rem;
      font-weight: 500;
    }

	.button-inverted, 
	.button-inverted-lbg,
	.button-inverted-white {
		background-color:#5c5c5c;
	}

  .button:hover {
	color: #5c5c5c;
  }

  .button-inverted:hover {
	color: #d9d9d9;
	border-color: #3d3d3d;
  }

  .button-inverted-lbg:hover {
	color: #d9d9d9;
	border-color: #d9d9d9;
  }

  .button-inverted-white:hover {
	color: #d9d9d9;
	border-color: white;
  }

  a:hover {
	color: #d9d9d9;
	border-color: #d9d9d9;
	transition: 0.3s all;
  }

/* -------------------Hamburger Menu Utility Classes ----------------*/

.hamburger-button {
	cursor: pointer;
	padding: 0.5rem;
	padding-left:75%;
	display: inline-block;
	font-weight: 200;
	font-size: 2.5rem;
	line-height: 0.8;
	position: relative;
	right: 1rem;
	top: 1rem;
	z-index: 2;
	text-decoration:none;
	border:none;
  }
  
  /* Styles when the hamburger button is active  */
  .hamburger-button.active {
	color: white;
	text-decoration:none;
  }
  
  .mobile-menu {
	display: none; 
	text-decoration:none;
	background-color: #d9d9d9; 
	padding: 5%;
	position: relative; 
	top:0;
	bottom: 0;
	left:0;
	right:0;
	text-align: center;
  }
  
  .mobile-menu a {
	text-decoration: none; 
	color: inherit; 
	padding: 5vh 5%;
	display: block;
	font-weight: normal;
	font-size: 1.5rem;
  }

  /* ------------Testimonial Slider Styles--------------------- */

  	.author {
		font-size: 0.9rem;
		color: #d9d9d9;
		margin-top: 0.5rem;
		font-style: italic;
		text-align: right;
		opacity:0.9;
  	}

  	.quote-icon {
		font-size:2rem;
		display:inline-block;
		color:#d9d9d9;
		line-height:1;
		padding-top:2rem;
		padding-bottom:2rem;
	}

	.testimonial-slider-container {
		padding: 5%;
		max-width: 900px;
		margin: auto;
	  }
	  
	  .slider-item {
		padding: 1rem;
		display: none;
		color:#d9d9d9;
	  }

	  .testimonial-big {
		  font-size:1.2rem;
	  }
	  
	  .slider-item:first-child {
		display: block;
	  }
	  
	  .slick-next {
		right: 10px;
	  }
	  
	  .slick-prev {
		left: 10px;
	  }
	  
	  .slick-next::before, .slick-prev::before {
		  font-family: inherit;
		  font-size: 20px;
		  line-height: 1;
		  opacity: .75;
		  color:#d9d9d9;
	  }
	  
	  .slick-dots {
		left: 0;
		bottom: 10px;
		/*  Without this the padding on the parent affects the centering of the dots. Do not delete.    */
	  }
	  
	  .slick-dots li,
	  .slick-dots li button {
		width: 10px;
	  }
	  
	  .slick-dots li button::before {
		color: #5c5c5c;
	  }
	  
	  .slick-dots li.slick-active button::before {
		color: #5c5c5c;
	  }




  /* -----------------Contact Form Styles---------------------------- */

  form input, 
form textarea {
  display:inline-block;
  margin: 0.6rem 0;
  padding: 0.9rem;
  padding-top:1rem;
  padding-bottom:0.4rem;
  border: 1px solid #d9d9d9;
  border-radius:25px;
  outline: none;
  font-family: 'Epilogue', sans-serif;
  font-size: 0.9rem;
  transition:0.3s all;
  width:98%;
}

form label {
	display:block;
	color:black;
	text-transform:uppercase;
	font-family: 'Epilogue', sans-serif;
	margin-top:1rem;
	font-weight:600;
}

.form-short {
	width:48%;

}

form textarea {
	width:98%;
	resize:vertical;
}

form input:focus,
form textarea:focus {
  background-color:#d9d9d9;
  border-color:#d9d9d9;
}

textarea {
  min-height: 6rem;
}

form button {
	text-decoration: none;
	color: white;
	border: 2px solid #3d3d3d;
	background-color:#3d3d3d;
	border-radius:25px;
	padding: 0.6rem 2rem;
	margin-top: 1rem;
	text-transform: uppercase;
	font-size: 0.8rem;
	font-weight: 400;
	float:right;
	transition:0.3s all;
}

form button:hover {
	color: #d9d9d9;
	border-color: white;
}

/*---------------- Media Queries ------------------------*/

	/* General CSS Styles (apply everywhere) */ 
 
	.show-sm,
	.show-md {
		display: none;
	}

	/* --------------- MD Media Query (64em / 1024px) --------------- */ 
	/* Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 

	@media (max-width: 64em) {
		.show-md { display: inline-flex; }
		.hide-md { display: none; }

		.md-m-text {font-size:2.5rem;}
		.md-s-text {font-size:1.5rem;}

		h1 {font-size:2rem;}
	}

	

	/* --------------- SM Media Query (48em / 768px) --------------- */ 
	/* Styles added here will apply at devices smaller than 768px, or zoomed in equivalent */ 

	@media (max-width: 48em) {
		.show-sm { display: flex; }
		.hide-sm { display: none; }

		.sm-text-center {text-align:center;}
		.sm-text-left {text-align:left;}
		.sm-text-right {text-align:right;}

		.sm-padding {padding:5%}
		.sm-padding-1 {padding:1rem;}
		.sm-padding-05 {padding:0.5rem;}
		.sm-padding-10 {padding:10%;}

		.sm-padding-t-0 {padding-top:0;}
		.sm-padding-b-0 {padding-bottom:0;}
		.sm-margin-t-0 {margin-top:0;}
		.sm-margin-b-0 {margin-bottom:0;}
		.sm-padding-r-0 {padding-right:0;}

		.sm-s-text {font-size:0.8rem !important;}
		.sm-m-text {font-size:1.2rem !important;}
		.sm-l-text {font-size:2rem !important;}

		form input {
			width:98%;
		}

		.footer-nav {
			font-size:1rem;
			word-spacing:0.5rem;
			padding-bottom:1rem;
		}
		
		.sm-tall-20 {min-height:20vh;}
		.sm-tall-30 {min-height:30vh;}

		* {font-size:0.8rem !important;}
		h1 {font-size:1.8rem !important;}
	}

/* --------------- XS Media Query (36em / 768px) --------------- */ 
	/* Styles added here will apply at devices smaller than 768px, or zoomed in equivalent */ 
	@media(max-width:36em) {
		.horizontal-scroll {
		  overflow-x:auto;
		  flex-wrap:nowrap;
		  padding-left:1rem;
		  padding-right:1rem;
		  padding-bottom:7%;
		}
		  .card img {
			margin-top:-25%;
		  }
		  .mob-padded-0 {
			padding-left:0;
			padding-right:0;
		  }

		  .slider-item p { font-size: 0.8rem;}

		}